<div class="container">

  <div class="jumbotron mt-5">
    <h1 class="display-4"><b>Cplayer App</b></h1>
    <p class="lead text-justify">The CplayerApp is a website is a meant to be an experiment in providing top-quality
      data
      and has the ability to get the latest cricket scores is today limited to those with deep pockets.
      This website consists of 3 sections Favourites,Player Statistics,Recommendation. The
      PlayerStatistics will display all the information about the player along with the Statistics of the
      player.The Favourites section will have the data which the user wanted to view the profile of the
      player regularly.The Recommendation section we most viewed profiled by all the users globally.This
      project is made to know the complete details of the player.We can search the players based on the Pid,
      name and fullname also.This project is given by StackRoute made by Akash das, Pranathi, Swetha.
    </p>

    <hr class="my-4">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/Akash.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Akash Das</h5>
          <p>Associate Software Engineer</p>
          <p><i class="fas fa-envelope mr-3"></i>akashdas@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i>7003441175</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/Pranathi.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vidhya Pranathi</h5>
          <p>Associate Software Engineer</p>
          <p><i class="fas fa-envelope mr-3"></i>pranathinudurumati@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i>9003255129</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/swetha.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Swetha</h5>
          <p>Associate Software Engineer</p>
          <p><i class="fas fa-envelope mr-3"></i>chavvaswetha@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i>7036354571</p>

        </div>
      </div>
    </div><br>
    <P>THANKS FOR GIVING US THIS OPPURTUNITY</P>
    <P> Project Mentor:DHIRAJ KUMAR </P>
    <!-- <a class="btn btn-primary btn-lg-2" href="#" role="button">Back</a> -->
    <button routerLink="/dash"class="btn btn-danger btn-sm float-right" id="right" style="color:white">
      Go Back
    </button>
  </div>




</div>